.header{
    background-color: #678983;
    text-align: center;
    color: #F6F6F6;
}
.headline{
    text-align: left;
    color: #F6F6F6;
}
.secStyle{
    background-color: #678983;
    color: #F6F6F6;
}